/* Variables */
:root {
    --color-darkgray: #212121;
    --color-lightgray: #4a4a4a;
    --color-green: #4bc800;
    --color-red: #c81e1e;

    --container: 1080px;
}


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}


/* Utils */
.container {
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}


/* Layout */



/* Debug */
.border {
    border: 2px dashed #fff;
}


/* ====================================== */

/* Header */
header {
    height: 50px;
    background-color: #4bc800;
}

/* Main Content */
main {
    height: calc(100vh - (50px + 70px));
    overflow-y: auto;
}

/* Footer */
footer {
    height: 70px;
    background-color: #c81e1e;
}