/* Variables */
:root {
    --color-darkgray: #212121;
    --color-lightgray: #4a4a4a;
    --color-green: #4bc800;
    --color-red: #c81e1e;

    --header-height: 60px;
    --footer-height: 70px;
    --main-height-delta: calc(var(--header-height) + var(--footer-height));
    
    --container: 1080px;
}


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}


/* Utils */
.container {
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}

.mr-1 {
    margin-right: 4px;
}


/* Layout */



/* Debug */
.border {
    border: 2px dashed #fff;
}


/* ====================================== */

/* Header */
header {
    height: var(--header-height);
    padding: 4px;
    text-align: right;
}


/* Buttons */
.btn {
    color: #fff;
    background-color: var(--color-lightgray);
    display: inline-block;
    padding: 4px;
    border: 1px solid transparent;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
}


/* Main Content */
main {
    height: calc(100vh - var(--main-height-delta));
    overflow-y: auto;
}

/* Speaker Grid */
.speaker-grid {
    display: flex;
    flex-wrap: wrap;
}

.speaker-card {
    margin: 10px 5px;
    flex-basis: calc(100% / 5 - 10px);

    height: 50px;
    background-color: #4bc800;
}


/* Footer */
footer {
    height: var(--footer-height);

    background-color: #c81e1e;
}